// Scrollbar
::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-track {
    background-color: $primary-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $dark-color; 
}

::-webkit-scrollbar-thumb:hover {
    background: $darkest-color; 
}

// Set highlight
::selection {
    background: $highlight-color;
}

// Set items to not be selectable
.no-select {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

// Buttons
.button {
    padding: 0.9em;
    background: $highlight-color;
    border: none;
    border-radius: 0.4em;
    font-size: 0.8em;
    margin: 1em 0;
    color: $white;
}

// Content 
.content {
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        margin: 2em 0;
    }

    &__column {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        min-height: 15em;
    }

    &__inner {
        background: linear-gradient(180deg, rgba(31, 0, 33, 0) 0%, $dark-color 91.41%);
    }

    &__outer {
        background-image: url('../assets/pawel-czerwinski-ezaikYIOLPg-unsplash2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: color-burn;
    }

    &__hero {
        min-width: 15em;
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;

        @media (min-width: 1025px) { 
            & {
                width: 50em;
                margin: 0 auto;
            }
        }

        &-image {
            width: 100%;
            height: auto;

            @media (min-width: 1025px) { 
                & {
                    margin-top: -1em;
                    width: 70%;
                    height: auto;
                }
            }
        }
    }

    &__intro, &__description, &__factions, &__patreon {
        margin: 0 10%;
        text-align: center;

        &-inner {
            padding: 1.5em 0 0 0;
            background-color: $dark-color;
        }

        &-cards {
            justify-content: space-evenly;
        }
    }

    &__video {
        width: 100%;
        background-color: #1F0021;
        display: flex;
        align-items: center;
    }

    &__spells {
        display: flex;
        margin: 5% 10%;
        padding: 10px;
        align-content: center;
        font-size: small;
        justify-content: space-around;

        &-icon {
            width: 5em;
            height: auto;
            align-self: center;
        }
    }

    &__patreon {
        &-outer {
            padding: 1.5em 0;
            background-repeat: no-repeat;
            background-position: center;
            background: #340524;
        }
    }
}

.separator {
    position: relative;
    z-index: -1;

    &--drip {
        background-image: url('../assets/blood.png');
        background-repeat: repeat-x;
        width: 100%;
        height: 4.5em;
    
        &--inverted {
            transform: rotate(180deg);
            margin-bottom: -9px;
        }

        &--bright {
            filter: brightness(120%);
        }

        @media (min-width: 1025px) { 
            & {
                background-size: 17em;
                height: 4.5em;
                width: 100%;
            }
        }
    }
    
    &--heart {
        height: 3em;
        margin: 1.5em 0;
        background-image: url('../assets/heart.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-content: center;
        justify-content: center;
        filter: invert(80%) brightness(118%);
        opacity: 0.7;

        @media (min-width: 1025px) { 
            & {
                background-size: 30em;
            }
        }
    }
}

.horizontal__card {
    display: flex;
    margin: 0 10%;
    padding: 10px;
    align-content: center;
    font-size: small;

    &-image {
        height: auto;
        border-radius: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    &-image img {
        width: 4em;
        align-self: center;
    }

    &-description {
        margin-left: 1em;
        text-align: justify;
    }
}

.vertical__card {
    box-shadow: 0 6px 5px 0 rgba(31, 0, 33, 0.9);
    transition: 0.3s;
    width: fit-content;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
        box-shadow: 0 8px 5px 0 rgba(0,0,0,0.5);
        background-color: rgba(255, 255, 255, 0.2);
    }

    &-imgage {
        width: 5em;
    }

    &-content {
        padding: 0.1em 0.3em;
    }
}

.video {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 0;

    @media (min-width: 1025px) { 
        & {
            width: 30em;
        }
    }
}
