@media (min-width: 481px) and (max-width: 1024px) {
    .nav {
        &__logo {
            position: relative;
            width: 4.5em;
            z-index: 1;
        }

        &__content-mobile {
            display: none;
        }

        &__item {
            margin: 1em;
            width: auto;
            font-size: 0.7em;
        }

        //remove logo margin
        &__item:nth-child(3) {
            margin: 0;
        }

        &__link {
            font-size: 0.7em;
        }
    }

    .content {
        &__hero {
            width: 15em;
            margin: 0 auto;
        }

        &__image {
            margin-top: -1em;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .content {
        &__div:nth-child(2) {
            margin-bottom: 1em;
        }

        &__hero {
            width: 15em;
            margin: 0 auto;
        }

        &__image {
            margin-top: -1em;
            display: block;
            width: 100%;
            height: auto;
        }

        &__separator--drip {
            background-size: 17em;
            height: 4.5em;
            width: 100%;
        }

        &__separator--heart {
            background-size: 50em;
        }

        &__intro, &__description {
            width: 100%;
            height: auto;
            
            p {
                font-size: 0.65em;
                margin: 0 4em;
                margin-bottom: 1.5em;
            }
        }

        &__description-outer {
            margin: 0.8em 0;
        }

        &__video {
            height: 10em;
        }
    }
}
